<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block title %}FirstChoice - Car Repair, Auto Car Services{% endblock %}</title>

    <meta name="author" content="themsflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/colors/color1.css') }}"
        id="colors">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/loging.css') }}">

</head>

<body>
    <div class="preloader">
        <div class="load">
            <div class="gear one">
                <svg id="blue" viewbox="0 0 100 100" fill="#fc1452">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear two">
                <svg id="pink" viewbox="0 0 100 100" fill="#137bc0">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear three">
                <svg id="yellow" viewbox="0 0 100 100" fill="#e8b006">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="lil-circle"></div>
            <svg class="blur-circle">
                <filter id="blur">
                    <fegaussianblur in="SourceGraphic" stddeviation="13"></fegaussianblur>
                </filter>
                <circle cx="70" cy="70" r="66" fill="transparent" stroke="white" stroke-width="40" filter="url(#blur)">
                </circle>
            </svg>
        </div>
    </div> <!-- /.preloader -->

    <!--  <div class="top style1 bg-f9f9f9">
        <div class="container clearfix">
            <div id="logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo2.png') }}"
                        alt="FirstChoice" width="175" height="54"
                        data-retina="{{ url_for('static', filename='images/logo2-2x.png') }}" data-width="175"
                        data-height="54"></a>
            </div> 

            <div class="flat-info style2 text-right">
                <ul>
                    <li class="address"><a href="#">3015 Grand Ave, Grove, Merrick Way</a></li>
                    <li class="website"><a href="#">www.autoservices.com</a></li>
                    <li class="phone"><a href="#">+100 2521-888-39151</a></li>
                </ul>
            </div>  
        </div> 
    </div>  -->


    <div class="top style3 clearfix">
  <div class="container top-header">
    
    <!-- Left -->
    <div class="welcome-text">
      <p>Welcome to first choice services</p>
    </div>

    <!-- Center -->
    <div id="logo">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}"
             alt="FirstChoice" width="188" height="75"
             data-retina="{{ url_for('static', filename='images/logo-2x.png') }}">
      </a>
    </div>

    <!-- Right -->
    <div class="signup-button">
      <a href="{{ url_for('register') }}" class="nav-signup">Sign Up</a>
    </div>

  </div> <!-- /.container -->
</div>

    <header id="header" class="header-v4">
        <div class="overlay"></div>
        <div class="container clearfix">
            <div class="mobile-button v2">
                <span></span>
            </div>
            <div class="nav-wrap text-center">
                <nav id="mainnav" class="mainnav header-v4">
                    <ul class="menu">
                        <li class="{% if request.endpoint == 'index' %}active{% endif %}">
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="{% if request.endpoint == 'services' %}active{% endif %}">
                            <a href="{{ url_for('services') }}">Services</a>
                        </li>
                        <li
                            class="item-has-child {% if request.endpoint in ['about_company', 'company_history'] %}active{% endif %}">
                            <a href="#">Company</a>
                            <ul class="submenu">
                                <li class="{% if request.endpoint == 'about_company' %}active{% endif %}">
                                    <a href="{{ url_for('about_company') }}">About Company</a>
                                </li>
                                <li class="{% if request.endpoint == 'company_history' %}active{% endif %}">
                                    <a href="{{ url_for('company_history') }}">Company History</a>
                                </li>
                            </ul>
                        </li>
                        <li class="{% if request.endpoint == 'project' %}active{% endif %}">
                            <a href="{{ url_for('project') }}">Project</a>
                        </li>
                        <li class="{% if request.endpoint == 'shop' %}active{% endif %}">
                            <a href="{{ url_for('shop') }}">Shop</a>
                        </li>
                        <li
                            class="{% if request.endpoint in ['contact', 'appointment', 'gallery', 'team', 'blog', 'faqs'] %}active{% endif %}">
                            <a href="#">More</a>
                            <ul class="submenu">
                                <li class="{% if request.endpoint == 'contact' %}active{% endif %}">
                                    <a href="{{ url_for('contact') }}">Contact</a>
                                </li>
                                <li class="{% if request.endpoint == 'appointment' %}active{% endif %}">
                                    <a href="{{ url_for('appointment') }}">Appointment</a>
                                    <!-- class="flat-button bg-appointment"-->
                                </li>
                                <li class="{% if request.endpoint == 'gallery' %}active{% endif %}">
                                    <a href="{{ url_for('gallery') }}">Gallery</a>
                                </li>
                                <li class="{% if request.endpoint == 'team' %}active{% endif %}">
                                    <a href="{{ url_for('team') }}">Our Team</a>
                                </li>
                                <li class="{% if request.endpoint == 'blog' %}active{% endif %}">
                                    <a href="{{ url_for('blog') }}">Blog</a>
                                </li>
                                <li class="{% if request.endpoint == 'faqs' %}active{% endif %}">
                                    <a href="{{ url_for('faqs') }}">FAQs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-signin">
                            <a href="{{ url_for('login') }}">Sign In</a>
                        </li>
                        <!-- <li class="{% if request.endpoint == 'register' %}active{% endif %}">
            <a href="{{ url_for('register') }}">Sign Up</a>
        </li> -->
                    </ul>
                </nav><!-- /.mainnav -->
            </div>

        </div> <!-- /.container -->
    </header> <!-- /#header -->

    {% block content %}
    {% endblock %}

    <footer id="footer" class="style2 pd-bottom-100">
        <div class="flat-spacer clearfix" data-desktop="100" data-mobile="60" data-smobile="60"></div>
        <div class="container">
            <div class="flat-widget-ft fix-float-box">
                <div class="widget widget-about">
                    <div id="logo-ft">
                        <a href="{{ url_for('index') }}"><img
                                src="{{ url_for('static', filename='images/logo-ft.png') }}" alt="logo-ft" width="183"
                                height="55" data-retina="{{ url_for('static', filename='images/logo-ft-2x.png') }}"
                                data-width="183" data-height="55"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    <h6><a href="{{ url_for('company_history') }}" class="hover-text">Our history</a></h6>
                </div> <!-- /.widget-about -->

                <div class="widget widget-links">
                    <h4 class="widget-title">USEFUL LINKS</h4>
                    <ul>
                        <li><a href="{{ url_for('index') }}" class="hover-text">Home</a></li>
                        <li><a href="{{ url_for('about_company') }}" class="hover-text">About</a></li>
                        <li><a href="{{ url_for('project') }}" class="hover-text">Project</a></li>
                        <li><a href="{{ url_for('blog') }}" class="hover-text">Latest News</a></li>
                        <li><a href="{{ url_for('gallery') }}" class="hover-text">Gallery</a></li>
                    </ul>
                </div> <!-- /.widget-links -->

                <div class="widget widget-info">
                    <h4 class="widget-title">CONTACT INFO</h4>
                    <div class="flat-iconbox style3">
                        <div class="iconbox clearfix style3">
                            <div class="iconbox-icon">
                                <span class="icon_pin_alt"></span>
                            </div>
                            <div class="iconbox-content">
                                <p><a href="#" class="hover-text">1379 Shoreline Parkway, United States</a></p>
                            </div>
                        </div> <!-- /.iconbox -->
                        <div class="iconbox clearfix style3">
                            <div class="iconbox-icon">
                                <span class="icon_mobile"></span>
                            </div>
                            <div class="iconbox-content">
                                <p><a href="#" class="hover-text">+100 2521-888-39151</a></p>
                                <p><a href="#" class="hover-text">+800 718-999-3939</a></p>
                            </div>
                        </div> <!-- /.iconbox -->
                        <div class="iconbox clearfix style3">
                            <div class="iconbox-icon">
                                <span class="icon_mail_alt"></span>
                            </div>
                            <div class="iconbox-content">
                                <p><a href="#" class="hover-text">contact@FirstChoice.com</a></p>
                                <p><a href="#" class="hover-text">FirstChoice@gmail.com</a></p>
                            </div>
                        </div> <!-- /.iconbox -->
                    </div> <!-- /.flat-iconbox -->
                </div> <!-- /.widget-info -->

                <div class="widget widget-last-news">
                    <h4 class="widget-title">LATEST NEWS</h4>
                    <ul class="list-last-news">
                        <li class="clearfix">
                            <div class="img">
                                <img src="{{ url_for('static', filename='images/last-news-1-ft.png') }}"
                                    alt="last-news">
                                <div class="overlay"></div>
                            </div>
                            <div class="content">
                                <h6 class="heading"><a href="#" class="hover-text">Sustainable Construction</a></h6>
                                <p><a href="#" class="hover-text">August 08, 2018</a></p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img">
                                <img src="{{ url_for('static', filename='images/last-news-2-ft.png') }}"
                                    alt="last-news">
                                <div class="overlay"></div>
                            </div>
                            <div class="content">
                                <h6 class="heading"><a href="#" class="hover-text">Storefront Installations</a></h6>
                                <p><a href="#" class="hover-text">August 08, 2018</a></p>
                            </div>
                        </li>
                    </ul> <!-- /.list-last-news -->
                </div> <!-- /.widget-last-news -->
            </div> <!-- /.flat-widget-ft -->
            <div class="flat-spacer clearfix" data-desktop="82" data-mobile="60" data-smobile="60"></div>
            <div class="bottom style1 clearfix">
                <div class="flat-socails">
                    <ul>
                        <li><a href="#"><span class="social_facebook"></span></a></li>
                        <li><a href="#"><span class="social_twitter"></span></a></li>
                        <li><a href="#"><span class="social_pinterest"></span></a></li>
                        <li><a href="#"><span class="social_googleplus"></span></a></li>
                        <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                    </ul>
                </div>
                <div class="flat-copy-right">
                    <p>© Imen - Design by @themesflat. All Rights Reserved.</p>
                </div>
            </div> <!-- /.bottom -->
        </div> <!-- /.container -->
    </footer> <!-- /.footer -->

    <span class="gotop">
        <img src="{{ url_for('static', filename='images/goto-automov.png') }}" alt="FirstChoice">
    </span> <!-- /.gotop -->

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/equalize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/gmap3.min.js') }}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtwK1Hd3iMGyF6ffJSRK7I_STNEXxPdcQ&region=GB"></script>
    <script src="{{ url_for('static', filename='javascript/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/imagesloaded.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-isotope.js') }}"></script>

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='javascript/flexslider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-yys-slider.js') }}"></script>
    <!-- Slider -->
    <script src="{{ url_for('static', filename='rev-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='rev-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/rev-slider.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='rev-slider/js/extensions/revolution.extension.video.min.js') }}"></script>

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='javascript/parallax.js') }}"></script>
</body>

</html>