{% extends "base.html" %}

{% block title %}Our Team - FirstChoice{% endblock %}

{% block content %}
<section class="page-title v3 clearfix parallax parallax5">
    <div class="overlay"></div>
    <div class="container">
        <div class="wrap-page-title">
            <div class="breakcrums text-center v2">
                <ul>
                    <li><a href="{{ url_for('index') }}" class="hover-text">HOME</a></li>
                    <li><a href="#" class="hover-text">PAGES</a></li>
                    <li><a href="{{ url_for('team') }}" class="hover-text">OUR TEAM</a></li>
                </ul>
            </div> <!-- /.breakcrums -->

            <div class="page-title-heading text-center v2">
                <h1><a href="{{ url_for('team') }}" class="hover-text">OUR TEAM</a></h1>
            </div> <!-- /.page-title-heading -->
        </div> <!-- /.wrap-page-title -->
    </div> <!-- /.container -->
</section> <!-- /.page-title -->

<div class="content-wrap our-team-page">
    <section class="flat-team our-team-page bg-f6f6f6">
        <div class="container">
            <div class="flat-spacer clearfix" data-desktop="100" data-mobile="77" data-smobile="77"></div>
            <div class="flat-carousel" data-auto="false" data-column="4" data-column2="2" data-column3="1" data-gap="30" data-dots="false" data-nav="false" data-loop="true">
                <div class="flat-imgbox owl-carousel style6">
                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-1.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mr. Dony</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-2.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Tony Cruise</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-3.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Martin John</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-4.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mac William</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-1.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mr. Dony</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-2.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mr. Dony</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-3.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mr. Dony</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="imgbox style6 text-center">
                        <div class="imgbox-img">
                            <img src="{{ url_for('static', filename='images/home3/member-4.png') }}" alt="FirstChoice">
                        </div>  
                        <div class="imgbox-content">
                            <h3><a href="#">Mr. Dony</a></h3>
                            <p class="position">Sr. manager</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="flat-socail">
                                <ul>
                                    <li><a href="#" class="hover-text"><span class="social_facebook"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_twitter"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_pinterest"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="social_googleplus"></span></a></li>
                                    <li><a href="#" class="hover-text"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.flat-imgbox -->
            </div>
            <div class="flat-spacer clearfix" data-desktop="100" data-mobile="77" data-smobile="77"></div>
        </div> <!-- /.container -->
    </section> <!-- .flat-teams -->

    <section class="flat-auto-motive our-team-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="flat-spacer clearfix" data-desktop="102" data-mobile="60" data-smobile="60"></div>
            <div class="auto-motive-wrap clearfix">
                <div class="img one-of-two">
                    <img src="{{ url_for('static', filename='images/our-team/img-automov.png') }}" alt="FirstChoice">
                </div>
                <div class="content one-of-two">
                    <div class="flat-spacer clearfix" data-desktop="48" data-mobile="20" data-smobile="20"></div>
                    <div class="title"><a href="#"><h3>Welcome to FirstChoice</h3> <span>(@themesflat)</span></a></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="wrap-btn">
                        <a href="#" class="flat-button bg-read-more v2">Read more</a>
                    </div>    
                </div>
            </div>
            <div class="flat-spacer clearfix" data-desktop="70" data-mobile="70" data-smobile="70"></div>
        </div> <!-- /.container -->
    </section> <!-- /.flat-auto-motive -->

    <section class="flat-skills style2">
        <div class="container">
            <div class="flat-spacer clearfix" data-desktop="104" data-mobile="70" data-smobile="70"></div>
            <div class="flat-title v4 text-center">
                <h2>OUR SKILLS</h2>
            </div>
            <div class="skills-wrap flat-border-bottom">
                <div class="flat-spacer clearfix" data-desktop="93" data-mobile="70" data-smobile="70"></div>
                <div class="sub-col clearfix">
                    <div class="one-of-two">
                        <div class="flat-progres"> 
                            <div class="progress-item">
                                <div class="name">Technology</div>
                                <div class="perc show"><span>70%</span></div>
                                <div class="progres-bar" data-percent="70" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                            <div class="progress-item">
                                <div class="name">Quality services</div>
                                <div class="perc show"><span>45%</span></div>
                                <div class="progres-bar" data-percent="45" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                            <div class="progress-item">
                                <div class="name">Eputation</div>
                                <div class="perc show"><span>90%</span></div>
                                <div class="progres-bar" data-percent="90" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                        </div>
                    </div>
                    <div class="one-of-two">
                        <div class="flat-progres">
                            <div class="progress-item">
                                <div class="name">Experience</div>
                                <div class="perc show"><span>55%</span></div>
                                <div class="progres-bar" data-percent="55" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                            <div class="progress-item">
                                <div class="name">Repair</div>
                                <div class="perc show"><span>65%</span></div>
                                <div class="progres-bar" data-percent="65" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                            <div class="progress-item">
                                <div class="name">Long term warranty</div>
                                <div class="perc show"><span>60%</span></div>
                                <div class="progres-bar" data-percent="60" data-inviewport="yes">
                                    <div class="progress-animate" data-duration="3000"></div>
                                </div>
                            </div><!-- /.progress-item -->
                        </div>
                    </div>
                </div> 
                <div class="flat-spacer clearfix" data-desktop="47" data-mobile="47" data-smobile="47"></div>
            </div>
        </div> <!-- /.container -->
    </section> <!-- .flat-skills -->

    <div class="flat-client">
        <div class="container">
            <div class="flat-spacer clearfix" data-desktop="80" data-mobile="60" data-smobile="60"></div>
            <div class="flat-carousel-not-numb" data-auto="true" data-column="5" data-column2="3" data-column3="2" data-gap="" data-dots="false" data-nav="false" data-loop="true">
                <div class="client carousel-service owl-carousel owl-theme owl-loaded">
                    <div class="client-item">
                        <a href="#"><img src="{{ url_for('static', filename='images/home1/client-1.png') }}" alt="FirstChoice"><img src="{{ url_for('static', filename='images/home1/client-1-hover.png') }}" alt="FirstChoice"></a>
                    </div>
                    <div class="client-item">
                        <a href="#"><img src="{{ url_for('static', filename='images/home1/client-2.png') }}" alt="FirstChoice"><img src="{{ url_for('static', filename='images/home1/client-2-hover.png') }}" alt="FirstChoice"></a>
                    </div>
                    <div class="client-item">
                        <a href="#"><img src="{{ url_for('static', filename='images/home1/client-3.png') }}" alt="FirstChoice"><img src="{{ url_for('static', filename='images/home1/client-3-hover.png') }}" alt="FirstChoice"></a>
                    </div>
                    <div class="client-item">
                        <a href="#"><img src="{{ url_for('static', filename='images/home1/client-4.png') }}" alt="FirstChoice"><img src="{{ url_for('static', filename='images/home1/client-4-hover.png') }}" alt="FirstChoice"></a>
                    </div>
                    <div class="client-item">
                        <a href="#"><img src="{{ url_for('static', filename='images/home1/client-5.png') }}" alt="FirstChoice"><img src="{{ url_for('static', filename='images/home1/client-5-hover.png') }}" alt="FirstChoice"></a>
                    </div>
                </div>
            </div> 
            <div class="flat-spacer clearfix" data-desktop="80" data-mobile="60" data-smobile="60"></div>
        </div> <!-- /.container -->
    </div> <!-- /.flat-client -->

    <section class="flat-contact v1 clearfix">
        <div class="container">
            <div class="wrap-text">
                <h3 class="title"><a href="{{ url_for('contact') }}">Have you question or need any help for work consultant?</a></h3>
            </div>
            <div class="wrap-btn text-right">
                <a href="{{ url_for('contact') }}" class="flat-button btn-contact bg-contact">Contact us</a>
            </div>
        </div> <!-- /.container -->
    </section> <!-- /.flat-contact -->
</div> <!-- /.content-wrap -->
{% endblock %}